<div class="register-container">
  <h2>Register form</h2>
  <form [formGroup]="registerGroup" class="register-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="input-full-width">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Enter username</mat-label>
      <input matInput placeholder="kubus123" formControlName="username" required>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Index</mat-label>
      <input matInput type="number" placeholder="ex. 102912" formControlName="index" required>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Field</mat-label>
      <mat-select formControlName="field">
        <mat-option *ngFor="let field of fields" [value]="field">
          {{ field }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" class="form-btn" [disabled]="buttonDisabled">Sign up</button>
    <div *ngIf="error">{{error}}</div>
  </form>  
</div>
