@media (max-width: 60em) {
  body {
    padding: 3rem;
  }
}

.all-recipes-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.all-recipes-h2 {
  font-weight: 300;
  text-align: center;
}

.all-recipes-hr {
  max-width: 100%;
  width: 100vh;
  opacity: 0.3;
}

.all-recipes-grid {
  display: grid;
  width: 100vh;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20vh, 1fr));
  align-items: start;
}

@media (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
  }
}

.all-recipes-grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.all-recipes-grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.all-recipes-card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #5d5e5e;
}

.all-recipes-card-image {
  display: block;
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.all-recipes-card-content {
  padding: 3rem 3rem;
}

.all-recipes-title {
  font-size: .75rem;
  text-transform: uppercase;
}

.all-recipes-title {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.all-recipes-card-text {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.all-recipes-card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}