.new-recipe-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 50vh;
}

h2 {
  font-weight: 300;
  font-size: 2em;
  align-self: flex-start;
}

.new-recipe-form {
  margin-top: 5vh;
  min-width: 20vh;
  max-width: 40vh;
  width: calc(50% - 1vh);
  margin-right: 5vh;
}

.input-full-width {
  width: 100%;
  max-width: 40vh;
  /* Adjust this based on your desired form width */
}

.user-inputs {
  width: 100%;
}

.input-half-width {
  width: 50%;
  max-width: 18vh;
  /* Adjust this based on your desired form width */
}

.form-btn {
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
}

.preview-card {
  text-align: center;
  width: calc(50% - 1vh);
  width: 100%;
  max-width: 55vh;
}

img {
  max-height: 20rem;
  max-width: 30rem;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

@media (max-width: 768px) {
  .new-recipe-form {
    margin-right: 0;
    margin-bottom: 5vh;
  }

  .preview-card {
    margin-top: 0;
  }
}

.follow-btn-animation{ 
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-15%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-7%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-3%); }
  100% { transform:translateY(0); }
}